# Customer Analysis - Model Customer Behavior

## Import

In [1]:
import os
import pyspark
import pandas as pd
import pyspark.sql.functions as f
import pyspark.sql.types as T
import plotly.express as px
import plotly.graph_objects as go

from pyspark.ml.clustering import KMeans

## Read

In [2]:
spark = pyspark.sql.SparkSession \
    .builder \
    .master("local") \
    .appName("app_great") \
    .config("spark.executor.memory", f"16g") \
    .config("spark.driver.memory", f"16g") \
    .config("spark.memory.offHeap.enabled", True) \
    .config("spark.memory.offHeap.size", f"16g") \
    .config("spark.sql.debug.maxToStringFields", f"16") \
    .getOrCreate()
sc = spark.sparkContext

In [3]:
# # Testing / Debug

# sdf = spark.read.csv("data/test_data.csv", header=True, inferSchema=True)

In [4]:

sdf_201911 = spark.read.csv("data/2019-Nov.csv", header=True, inferSchema=True)
sdf_201910 = spark.read.csv("data/2019-Oct.csv", header=True, inferSchema=True)

sdf = sdf_201910.union(sdf_201911)
sdf = sdf_201911

# sdf.show(5)

## Preparation

In [5]:
# Datatypes
sdf = sdf.withColumn("event_time", sdf["event_time"].cast(pyspark.sql.types.TimestampType()))
sdf = sdf.withColumn("category_id", sdf["category_id"].cast(pyspark.sql.types.StringType()))
sdf = sdf.withColumn("product_id", sdf["product_id"].cast(pyspark.sql.types.StringType()))
sdf = sdf.withColumn("user_id", sdf["user_id"].cast(pyspark.sql.types.StringType()))

# Feature Splitting
sdf = sdf.withColumn("category_class", f.split(sdf["category_code"], "\.").getItem(0))
sdf = sdf.withColumn("category_sub_class", f.split(sdf["category_code"], "\.").getItem(1))
sdf = sdf.withColumn("category_sub_sub_class", f.split(sdf["category_code"], "\.").getItem(2))

sdf = sdf.withColumn("year", f.year("event_time"))
sdf = sdf.withColumn("month", f.month("event_time"))
sdf = sdf.withColumn("weekofyear", f.weekofyear("event_time"))
sdf = sdf.withColumn("dayofyear", f.dayofyear("event_time"))
sdf = sdf.withColumn("dayofweek", f.dayofweek("event_time"))
sdf = sdf.withColumn("dayofmonth", f.dayofmonth("event_time"))
sdf = sdf.withColumn("hour", f.hour("event_time"))

# None Handling
# sdf = sdf.fillna(value="not defined")

sdf.printSchema()

root
 |-- event_time: timestamp (nullable = true)
 |-- event_type: string (nullable = true)
 |-- product_id: string (nullable = true)
 |-- category_id: string (nullable = true)
 |-- category_code: string (nullable = true)
 |-- brand: string (nullable = true)
 |-- price: double (nullable = true)
 |-- user_id: string (nullable = true)
 |-- user_session: string (nullable = true)
 |-- category_class: string (nullable = true)
 |-- category_sub_class: string (nullable = true)
 |-- category_sub_sub_class: string (nullable = true)
 |-- year: integer (nullable = true)
 |-- month: integer (nullable = true)
 |-- weekofyear: integer (nullable = true)
 |-- dayofyear: integer (nullable = true)
 |-- dayofweek: integer (nullable = true)
 |-- dayofmonth: integer (nullable = true)
 |-- hour: integer (nullable = true)

## Data Creation

In [6]:
sdf_session = sdf.select("user_id", "user_session", "event_type", "product_id", "price", "event_time")

sdf_session = sdf_session.withColumn("bought_product", f.when(sdf_session.event_type == "purchase", sdf_session["product_id"]).otherwise(None))

sdf_session = sdf_session.withColumn("views", f.when(sdf_session.event_type == "view", 1).otherwise(0))
sdf_session = sdf_session.withColumn("purchases", f.when(sdf_session.event_type == "purchase", 1).otherwise(0))
sdf_session = sdf_session.withColumn("carts", f.when(sdf_session.event_type == "cart", 1).otherwise(0))

sdf_session = sdf_session.withColumn("first_event", sdf_session.event_time)
sdf_session = sdf_session.withColumn("last_event", sdf_session.event_time)

In [7]:
sdf_session.show()

+---------+--------------------+----------+----------+------+-------------------+--------------+-----+---------+-----+-------------------+-------------------+
|  user_id|        user_session|event_type|product_id| price|         event_time|bought_product|views|purchases|carts|        first_event|         last_event|
+---------+--------------------+----------+----------+------+-------------------+--------------+-----+---------+-----+-------------------+-------------------+
|520088904|4d3b30da-a5e4-49d...|      view|   1003461|489.07|2019-11-01 01:00:00|          null|    1|        0|    0|2019-11-01 01:00:00|2019-11-01 01:00:00|
|530496790|8e5f4f83-366c-4f7...|      view|   5000088|293.65|2019-11-01 01:00:00|          null|    1|        0|    0|2019-11-01 01:00:00|2019-11-01 01:00:00|
|561587266|755422e7-9040-477...|      view|  17302664| 28.31|2019-11-01 01:00:01|          null|    1|        0|    0|2019-11-01 01:00:01|2019-11-01 01:00:01|
|518085591|3bfb58cd-7892-48c...|      view|   3601530|712.87|2019-11-01 01:00:01|          null|    1|        0|    0|2019-11-01 01:00:01|2019-11-01 01:00:01|
|558856683|313628f1-68b8-460...|      view|   1004775|183.27|2019-11-01 01:00:01|          null|    1|        0|    0|2019-11-01 01:00:01|2019-11-01 01:00:01|
|520772685|816a59f3-f5ae-4cc...|      view|   1306894|360.09|2019-11-01 01:00:01|          null|    1|        0|    0|2019-11-01 01:00:01|2019-11-01 01:00:01|
|514028527|df8184cc-3694-454...|      view|   1306421|514.56|2019-11-01 01:00:01|          null|    1|        0|    0|2019-11-01 01:00:01|2019-11-01 01:00:01|
|518574284|5e6ef132-4d7c-473...|      view|  15900065| 30.86|2019-11-01 01:00:02|          null|    1|        0|    0|2019-11-01 01:00:02|2019-11-01 01:00:02|
|532364121|0a899268-31eb-46d...|      view|  12708937| 72.72|2019-11-01 01:00:02|          null|    1|        0|    0|2019-11-01 01:00:02|2019-11-01 01:00:02|
|532647354|d2d3d2c6-631d-489...|      view|   1004258|732.07|2019-11-01 01:00:02|          null|    1|        0|    0|2019-11-01 01:00:02|2019-11-01 01:00:02|
|518780843|aa806835-b14c-45a...|      view|  17200570|437.33|2019-11-01 01:00:03|          null|    1|        0|    0|2019-11-01 01:00:03|2019-11-01 01:00:03|
|518427361|c89b0d96-247f-404...|      view|   2701517|155.11|2019-11-01 01:00:03|          null|    1|        0|    0|2019-11-01 01:00:03|2019-11-01 01:00:03|
|566255262|173d7b72-1db7-463...|      view|  16700260| 31.64|2019-11-01 01:00:03|          null|    1|        0|    0|2019-11-01 01:00:03|2019-11-01 01:00:03|
|512416379|4dfe2c67-e537-4dc...|      view|  34600011| 20.54|2019-11-01 01:00:04|          null|    1|        0|    0|2019-11-01 01:00:04|2019-11-01 01:00:04|
|526595547|aab33a9a-29c3-4d5...|      view|   4600658|411.83|2019-11-01 01:00:05|          null|    1|        0|    0|2019-11-01 01:00:05|2019-11-01 01:00:05|
|512651494|f603c815-f51a-46f...|      view|  24900193|  1.09|2019-11-01 01:00:06|          null|    1|        0|    0|2019-11-01 01:00:06|2019-11-01 01:00:06|
|551061950|3f6112f1-5695-4e8...|      view|  27400066|  8.55|2019-11-01 01:00:07|          null|    1|        0|    0|2019-11-01 01:00:07|2019-11-01 01:00:07|
|520037415|f54fa96a-f3f2-43a...|      view|   5100503| 22.68|2019-11-01 01:00:07|          null|    1|        0|    0|2019-11-01 01:00:07|2019-11-01 01:00:07|
|566265908|52c2c76c-b79e-479...|      view|   1004566|164.84|2019-11-01 01:00:07|          null|    1|        0|    0|2019-11-01 01:00:07|2019-11-01 01:00:07|
|514028527|df8184cc-3694-454...|      view|   1307115|411.59|2019-11-01 01:00:08|          null|    1|        0|    0|2019-11-01 01:00:08|2019-11-01 01:00:08|
+---------+--------------------+----------+----------+------+-------------------+--------------+-----+---------+-----+-------------------+-------------------+
only showing top 20 rows

In [8]:
sdf_session_agg = sdf_session.groupBy("user_id", "user_session").agg(f.avg("price"), f.sum("views"), f.sum("purchases"), f.sum("carts"), f.min("event_time"), f.max("event_time"), f.collect_list("bought_product"))
sdf_session_agg = sdf_session_agg.withColumn("duration", (sdf_session_agg["max(event_time)"] - sdf_session_agg["min(event_time)"]))
sdf_session_agg = sdf_session_agg.withColumn("sum(events)", (sdf_session_agg["sum(views)"] + sdf_session_agg["sum(purchases)"] + sdf_session_agg["sum(carts)"]))
sdf_session_agg = sdf_session_agg.withColumn("turnover", f.when(sdf_session_agg["sum(purchases)"] > 0, (sdf_session_agg["sum(purchases)"] *  sdf_session_agg["avg(price)"])).otherwise(0))

sdf_session_agg = sdf_session_agg.withColumn("successfull", f.when(sdf_session_agg["sum(purchases)"] > 0, 1).otherwise(0))
sdf_session_agg.printSchema()

root
 |-- user_id: string (nullable = true)
 |-- user_session: string (nullable = true)
 |-- avg(price): double (nullable = true)
 |-- sum(views): long (nullable = true)
 |-- sum(purchases): long (nullable = true)
 |-- sum(carts): long (nullable = true)
 |-- min(event_time): timestamp (nullable = true)
 |-- max(event_time): timestamp (nullable = true)
 |-- collect_list(bought_product): array (nullable = false)
 |    |-- element: string (containsNull = false)
 |-- duration: interval (nullable = true)
 |-- sum(events): long (nullable = true)
 |-- turnover: double (nullable = true)
 |-- successfull: integer (nullable = false)

In [9]:
# sdf_session_agg.show()

In [10]:
sdf_session_agg.where(sdf_session_agg["turnover"] > 0).show()

+---------+--------------------+------------------+----------+--------------+----------+-------------------+-------------------+----------------------------+--------------------+-----------+------------------+-----------+
|  user_id|        user_session|        avg(price)|sum(views)|sum(purchases)|sum(carts)|    min(event_time)|    max(event_time)|collect_list(bought_product)|            duration|sum(events)|          turnover|successfull|
+---------+--------------------+------------------+----------+--------------+----------+-------------------+-------------------+----------------------------+--------------------+-----------+------------------+-----------+
|481246452|f09b7081-1537-483...|             63.39|         2|             1|         1|2019-11-13 05:09:54|2019-11-13 05:19:25|                  [25900023]|9 minutes 31 seconds|          4|             63.39|          1|
|509180654|9d482756-c80d-4e1...| 364.8894736842106|        16|             1|         2|2019-11-25 06:20:27|2019-11-25 06:38:56|                   [3601278]|18 minutes 29 sec...|         19| 364.8894736842106|          1|
|512372546|93226666-a922-479...| 82.93187499999999|        14|             1|         1|2019-11-17 05:53:34|2019-11-17 06:03:17|                  [28401131]|9 minutes 43 seconds|         16| 82.93187499999999|          1|
|512372774|315dca77-b821-4f4...| 203.0300000000001|         2|             1|        18|2019-11-13 13:09:59|2019-11-13 13:11:17|                   [1005160]|1 minutes 18 seconds|         21| 203.0300000000001|          1|
|512373343|8f9f52ee-5e75-408...|413.28857142857134|         5|             1|         1|2019-11-09 19:04:58|2019-11-09 19:07:47|                   [3601405]|2 minutes 49 seconds|          7|413.28857142857134|          1|
|512373931|52776792-f43e-441...|110.43000000000002|         2|             1|         2|2019-11-17 10:23:23|2019-11-17 10:27:53|                  [26401406]|4 minutes 30 seconds|          5|110.43000000000002|          1|
|512379643|66b975ae-a483-468...|  84.7138888888889|        17|             1|         0|2019-11-18 06:39:29|2019-11-18 06:46:48|                   [3700338]|7 minutes 19 seconds|         18|  84.7138888888889|          1|
|512381291|34b974ef-d57e-44e...|128.42000000000002|         5|             2|         3|2019-11-16 15:02:47|2019-11-16 15:29:05|          [4803976, 4803976]|26 minutes 18 sec...|         10|256.84000000000003|          1|
|512385855|f8ac4f43-b078-416...|233.75956521739124|        19|             2|         2|2019-11-17 15:54:34|2019-11-17 16:17:58|          [2702530, 1004833]|23 minutes 24 sec...|         23| 467.5191304347825|          1|
|512386086|49af011c-08fd-411...| 682.6963636363636|         7|             2|         2|2019-11-22 04:36:15|2019-11-22 04:45:06|          [1005115, 1801555]|8 minutes 51 seconds|         11|1365.3927272727271|          1|
|512386086|8ea20686-dd9a-476...|            146.26|         1|             1|         1|2019-11-11 03:16:21|2019-11-11 03:17:04|                   [3200157]|          43 seconds|          3|            146.26|          1|
|512386086|be40d186-0028-45a...|           764.894|         2|             1|         2|2019-11-29 12:53:05|2019-11-29 12:56:32|                   [4201541]|3 minutes 27 seconds|          5|           764.894|          1|
|512392370|26fa7132-1e1b-431...|102.34300000000003|         8|             1|         1|2019-11-10 13:52:44|2019-11-10 14:05:13|                  [13500041]|12 minutes 29 sec...|         10|102.34300000000003|          1|
|512400386|bfbf489a-bca8-44f...|61.251428571428555|         6|             1|         0|2019-11-03 16:03:10|2019-11-03 16:13:07|                  [44000003]|9 minutes 57 seconds|          7|61.251428571428555|          1|
|512406213|88ab5192-2861-44b...|360.09700000000004|         8|             1|         1|2019-11-27 11:16:19|2019-11-27 11:21:46|                   [1307582]|5 minutes 27 seconds|         10|360.09700000000004|          1|
|512408222|ff253708-e3b4-486...|             40.93|         2|             1|         0|2019-11-04 11:47:56|2019-11-04 11:48:51|                  [12702944]|          55 seconds|          3|             40.93|          1|
|512410950|be0109ae-4c0e-4c5...|            183.53|         3|             1|         1|2019-11-16 16:06:07|2019-11-16 16:12:17|                  [26200475]|6 minutes 10 seconds|          5|            183.53|          1|
|512412385|bb7af426-9771-4e3...| 893.8108333333336|         8|             2|         2|2019-11-08 08:59:42|2019-11-08 09:03:35|          [1005115, 1004249]|3 minutes 53 seconds|         12|1787.6216666666671|          1|
|512413617|8149339a-38a4-4a4...| 604.5655555555554|        34|             1|         1|2019-11-17 12:27:57|2019-11-17 13:06:53|                   [5100852]|38 minutes 56 sec...|         36| 604.5655555555554|          1|
|512414222|6f63d681-efe8-452...| 38.39714285714285|         4|             1|         2|2019-11-02 10:04:04|2019-11-02 10:06:28|                  [25800003]|2 minutes 24 seconds|          7| 38.39714285714285|          1|
+---------+--------------------+------------------+----------+--------------+----------+-------------------+-------------------+----------------------------+--------------------+-----------+------------------+-----------+
only showing top 20 rows

In [11]:
sdf_customer_profile = sdf_session_agg.groupBy("user_id").agg(f.sum("sum(events)").alias("sum_events"), f.sum("sum(views)").alias("sum_views"), f.sum("sum(purchases)").alias("sum_purchases"), f.sum("sum(carts)").alias("sum_carts"), f.sum("turnover").alias("sum_turnover"), f.count("user_session").alias("count_session"), f.sum("successfull").alias("sum_successfull"), f.collect_list("collect_list(bought_product)").alias("bought_product"))

sdf_customer_profile = sdf_customer_profile.withColumn("avg_turnover_per_session", (sdf_customer_profile["sum_turnover"] / sdf_customer_profile["count_session"]))
sdf_customer_profile = sdf_customer_profile.withColumn("avg_events_per_session", (sdf_customer_profile["sum_events"] / sdf_customer_profile["count_session"]))


sdf_customer_profile.printSchema()

root
 |-- user_id: string (nullable = true)
 |-- sum_events: long (nullable = true)
 |-- sum_views: long (nullable = true)
 |-- sum_purchases: long (nullable = true)
 |-- sum_carts: long (nullable = true)
 |-- sum_turnover: double (nullable = true)
 |-- count_session: long (nullable = false)
 |-- sum_successfull: long (nullable = true)
 |-- bought_product: array (nullable = false)
 |    |-- element: array (containsNull = false)
 |    |    |-- element: string (containsNull = false)
 |-- avg_turnover_per_session: double (nullable = true)
 |-- avg_events_per_session: double (nullable = true)

In [12]:
sdf_customer_profile.where(sdf_customer_profile["avg_turnover_per_session"] > 0).show()

+---------+----------+---------+-------------+---------+------------------+-------------+---------------+--------------------+------------------------+----------------------+
|  user_id|sum_events|sum_views|sum_purchases|sum_carts|      sum_turnover|count_session|sum_successfull|      bought_product|avg_turnover_per_session|avg_events_per_session|
+---------+----------+---------+-------------+---------+------------------+-------------+---------------+--------------------+------------------------+----------------------+
|423846383|        15|       12|            1|        2|             24.45|            3|              1| [[5701246], [], []]|                    8.15|                   5.0|
|468103953|        25|       22|            1|        2| 169.6809090909091|            2|              1|     [[1004166], []]|       84.84045454545455|                  12.5|
|480046242|        25|       22|            1|        2| 138.7111111111111|            4|              1|[[], [], [1330055...|       34.67777777777778|                  6.25|
|509180654|        33|       28|            2|        3| 823.7161403508774|            4|              2|[[], [], [1801968...|      205.92903508771934|                  8.25|
|512369688|        94|       93|            1|        0| 99.86136363636365|           20|              1|[[], [], [], [], ...|       4.993068181818183|                   4.7|
|512373616|        25|       15|            5|        5| 940.8272307692308|            4|              2|[[2700752, 250151...|       235.2068076923077|                  6.25|
|512385518|        25|       23|            1|        1| 278.9362500000001|            2|              1|     [[], [1307236]]|      139.46812500000004|                  12.5|
|512386977|        64|       57|            1|        6| 25.71444444444444|            9|              1|[[], [], [], [], ...|        2.85716049382716|     7.111111111111111|
|512388760|       182|      175|            3|        4| 557.0547142857142|           31|              3|[[], [], [], [], ...|      17.969506912442395|     5.870967741935484|
|512389344|        30|       17|            7|        6| 6803.625238095239|            6|              5|[[1005186], [1005...|      1133.9375396825399|                   5.0|
|512394562|        44|       37|            3|        4|318.44124999999997|           13|              3|[[1004858], [], [...|      24.495480769230767|    3.3846153846153846|
|512395692|         8|        6|            2|        0|103.77666666666667|            2|              2|[[5600355], [4804...|      51.888333333333335|                   4.0|
|512397473|         4|        2|            1|        1|            510.18|            1|              1|        [[26300084]]|                  510.18|                   4.0|
|512412345|        55|       49|            2|        4| 23.84693779904306|            9|              2|[[], [5301368], [...|       2.649659755449229|     6.111111111111111|
|512414883|       141|      128|            1|       12| 83.54916666666668|           27|              1|[[], [], [], [], ...|       3.094413580246914|     5.222222222222222|
|512420136|        77|       54|            6|       17|225.47403361344533|            7|              2|[[], [12707153, 1...|       32.21057623049219|                  11.0|
|512420187|         4|        2|            1|        1|            224.46|            1|              1|        [[26400273]]|                  224.46|                   4.0|
|512420588|         8|        6|            1|        1|            160.11|            4|              1|[[], [], [], [480...|                 40.0275|                   2.0|
|512429276|       442|      413|            5|       24| 1352.725155570425|           50|              2|[[], [], [], [], ...|      27.054503111408497|                  8.84|
|512436169|        33|       30|            1|        2|244.15588235294115|            9|              1|[[], [], [], [], ...|      27.128431372549016|    3.6666666666666665|
+---------+----------+---------+-------------+---------+------------------+-------------+---------------+--------------------+------------------------+----------------------+
only showing top 20 rows

## Data Split

In [17]:
(trainingData, testData) = sdf_customer_profile.where(sdf_customer_profile["avg_turnover_per_session"] > 0).randomSplit([0.7, 0.3], seed=123)

In [18]:
df_train = trainingData.toPandas()

In [32]:
df_test = testData.toPandas()

## Modelling

Task:
Cluster (unsupervised) the customer in groups:

- high 
- medium
- low
- NULL with potential
- NULL without potential


Target Feature -> Turnover

Next Steps: Find similiarites inside these customer groups:

- Buys same products
- similar behavior -> same marketing

### K-Means

In [23]:
from sklearn.cluster import KMeans

In [21]:
df_train.to_csv("customer_profile.csv")

In [22]:
# Only Customer with Turnover!
df_train.head()

,user_id,sum_events,sum_views,sum_purchases,sum_carts,sum_turnover,count_session,sum_successfull,bought_product,avg_turnover_per_session,avg_events_per_session
0,423846383,15,12,1,2,24.450000,3,1,"[[5701246], [], []]",8.150000,5.00
1,468103953,25,22,1,2,169.680909,2,1,"[[1004166], []]",84.840455,12.50
2,509180654,33,28,2,3,823.716140,4,2,"[[], [], [1801968], [3601278]]",205.929035,8.25
3,512369688,94,93,1,0,99.861364,20,1,"[[], [], [], [], [], [], [38900028], [], [], [...",4.993068,4.70
4,512373616,25,15,5,5,940.827231,4,2,"[[2700752, 2501514, 4502254], [], [], [1000038...",235.206808,6.25

In [30]:
X = df_train[["sum_events", "sum_views", "sum_purchases", "sum_carts", "sum_turnover", "count_session", "sum_successfull"]]

In [24]:
# model
kmeans_model = KMeans(n_clusters=6, random_state=123)

In [31]:
# train
kmeans_model.fit(X)

KMeans(n_clusters=6, random_state=123)

In [15]:
# eval

In [33]:
kmeans.cluster_centers_

AttributeError: 'KMeans' object has no attribute 'cluster_centers_'

### Random Forrest

## General Comparison

## Hyperparamter & extended Stuff