# Produktanalyse

## Imports

In [1]:
import pandas as pd
import pyspark
import pyspark.sql.functions as f
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np

## Vorverarbeitung

In [56]:
spark = pyspark.sql.SparkSession.builder.appName("app1").getOrCreate()
sdf = spark.read.csv("data/test_data.csv", header=True, inferSchema=True)
# sdf.show()
# sdf.printSchema()

In [57]:
sdf = sdf.withColumn("category_class", pyspark.sql.functions.substring_index(sdf.category_code, '.', 1))
sdf.createOrReplaceTempView("Product_Data")

## Analysen

### SQL-Analysen

In [58]:
spark.sql("SELECT *  from Product_Data").show()

+--------------------+----------+----------+-------------------+--------------------+--------+------+---------+--------------------+--------------+
|          event_time|event_type|product_id|        category_id|       category_code|   brand| price|  user_id|        user_session|category_class|
+--------------------+----------+----------+-------------------+--------------------+--------+------+---------+--------------------+--------------+
|2019-11-01 00:00:...|      view|   1003461|2053013555631882655|electronics.smart...|  xiaomi|489.07|520088904|4d3b30da-a5e4-49d...|   electronics|
|2019-11-01 00:00:...|      view|   5000088|2053013566100866035|appliances.sewing...|  janome|293.65|530496790|8e5f4f83-366c-4f7...|    appliances|
|2019-11-01 00:00:...|      view|  17302664|2053013553853497655|                null|   creed| 28.31|561587266|755422e7-9040-477...|          null|
|2019-11-01 00:00:...|      view|   3601530|2053013563810775923|appliances.kitche...|      lg|712.87|518085591|3bfb58cd-7892-48c...|    appliances|
|2019-11-01 00:00:...|      view|   1004775|2053013555631882655|electronics.smart...|  xiaomi|183.27|558856683|313628f1-68b8-460...|   electronics|
|2019-11-01 00:00:...|      view|   1306894|2053013558920217191|  computers.notebook|      hp|360.09|520772685|816a59f3-f5ae-4cc...|     computers|
|2019-11-01 00:00:...|      view|   1306421|2053013558920217191|  computers.notebook|      hp|514.56|514028527|df8184cc-3694-454...|     computers|
|2019-11-01 00:00:...|      view|  15900065|2053013558190408249|                null| rondell| 30.86|518574284|5e6ef132-4d7c-473...|          null|
|2019-11-01 00:00:...|      view|  12708937|2053013553559896355|                null|michelin| 72.72|532364121|0a899268-31eb-46d...|          null|
|2019-11-01 00:00:...|      view|   1004258|2053013555631882655|electronics.smart...|   apple|732.07|532647354|d2d3d2c6-631d-489...|   electronics|
|2019-11-01 00:00:...|      view|  17200570|2053013559792632471|furniture.living_...|    null|437.33|518780843|aa806835-b14c-45a...|     furniture|
|2019-11-01 00:00:...|      view|   2701517|2053013563911439225|appliances.kitche...|    null|155.11|518427361|c89b0d96-247f-404...|    appliances|
|2019-11-01 00:00:...|      view|  16700260|2053013559901684381|furniture.kitchen...|    null| 31.64|566255262|173d7b72-1db7-463...|     furniture|
|2019-11-01 00:00:...|      view|  34600011|2060981320581906480|                null|    null| 20.54|512416379|4dfe2c67-e537-4dc...|          null|
|2019-11-01 00:00:...|      view|   4600658|2053013563944993659|appliances.kitche...| samsung|411.83|526595547|aab33a9a-29c3-4d5...|    appliances|
|2019-11-01 00:00:...|      view|  24900193|2053013562183385881|                null|    null|  1.09|512651494|f603c815-f51a-46f...|          null|
|2019-11-01 00:00:...|      view|  27400066|2053013563391345499|                null|    null|  8.55|551061950|3f6112f1-5695-4e8...|          null|
|2019-11-01 00:00:...|      view|   5100503|2053013553375346967|                null|  xiaomi| 22.68|520037415|f54fa96a-f3f2-43a...|          null|
|2019-11-01 00:00:...|      view|   1004566|2053013555631882655|electronics.smart...|  huawei|164.84|566265908|52c2c76c-b79e-479...|   electronics|
|2019-11-01 00:00:...|      view|   1307115|2053013558920217191|  computers.notebook|      hp|411.59|514028527|df8184cc-3694-454...|     computers|
+--------------------+----------+----------+-------------------+--------------------+--------+------+---------+--------------------+--------------+
only showing top 20 rows

In [23]:
spark.sql("SELECT COUNT(*) AS Row_Count from Product_Data").show()

+---------+
|Row_Count|
+---------+
|      217|
+---------+

#### Einzelbetrachtung

##### Product_ID

In [31]:
spark.sql("SELECT COUNT(DISTINCT(product_id)) AS Count_Unique_Product_ID from Product_Data").show()

+-----------------------+
|Count_Unique_Product_ID|
+-----------------------+
|                    188|
+-----------------------+

In [35]:
spark.sql("SELECT DISTINCT(product_id) AS Product_ID, COUNT(product_id) AS Count from Product_Data GROUP BY product_id ORDER BY Count DESC").show()

+----------+-----+
|Product_ID|Count|
+----------+-----+
|  13200605|    3|
|   5701331|    3|
|  24400437|    3|
|  12708937|    3|
|   4100297|    2|
|   1005161|    2|
|   1004856|    2|
|   1005116|    2|
|   5000088|    2|
|   1004775|    2|
|  21408240|    2|
|   1004237|    2|
|   4804295|    2|
|  38900011|    2|
|  16700826|    2|
|   1004258|    2|
|   1307115|    2|
|  17300072|    2|
|   4600603|    2|
|  29900072|    2|
+----------+-----+
only showing top 20 rows

##### Category_ID

In [36]:
spark.sql("SELECT COUNT(DISTINCT(category_id)) AS Count_Unique_Category_ID from Product_Data").show()

+------------------------+
|Count_Unique_Category_ID|
+------------------------+
|                      74|
+------------------------+

In [65]:
spark.sql("SELECT DISTINCT(category_id) AS Category_ID, COUNT(product_id) AS Count from Product_Data GROUP BY category_id ORDER BY Count DESC").show()

+-------------------+-----+
|        Category_ID|Count|
+-------------------+-----+
|2053013555631882655|   38|
|2053013558920217191|   18|
|2053013553559896355|   12|
|2053013553853497655|    9|
|2053013559901684381|    6|
|2053013556168753601|    6|
|2053013561579406073|    6|
|2053013553970938175|    5|
|2053013563911439225|    5|
|2053013554658804075|    5|
|2053013553945772349|    4|
|2053013563944993659|    4|
|2053013556311359947|    4|
|2090228413959766319|    4|
|2053013563215184719|    4|
|2053013563651392361|    4|
|2053013557024391671|    3|
|2100825583029060150|    3|
|2053013557192163841|    3|
|2060981320581906480|    2|
+-------------------+-----+
only showing top 20 rows

##### Category_Code

In [38]:
spark.sql("SELECT COUNT(DISTINCT(category_code)) AS Count_Unique_Category_Code from Product_Data").show()

+--------------------------+
|Count_Unique_Category_Code|
+--------------------------+
|                        34|
+--------------------------+

In [64]:
spark.sql("SELECT DISTINCT(category_code) AS Category_Code, COUNT(product_id) AS Count from Product_Data GROUP BY category_code ORDER BY Count DESC").show()

+--------------------+-----+
|       Category_Code|Count|
+--------------------+-----+
|                null|   87|
|electronics.smart...|   38|
|  computers.notebook|   18|
|  electronics.clocks|    8|
|furniture.kitchen...|    6|
|appliances.kitche...|    5|
|auto.accessories....|    5|
|electronics.audio...|    5|
|furniture.bedroom...|    4|
|appliances.kitche...|    4|
|construction.tool...|    4|
|electronics.audio...|    4|
|       apparel.jeans|    3|
|computers.periphe...|    2|
|furniture.living_...|    2|
|appliances.sewing...|    2|
|auto.accessories....|    2|
|electronics.camer...|    1|
|furniture.bathroo...|    1|
|construction.tool...|    1|
+--------------------+-----+
only showing top 20 rows

##### Category_class

In [60]:
spark.sql("SELECT COUNT(DISTINCT(category_class)) AS Count_Unique_Category_Class from Product_Data").show()

+---------------------------+
|Count_Unique_Category_Class|
+---------------------------+
|                          8|
+---------------------------+

In [62]:
spark.sql("SELECT DISTINCT(category_class) AS Category_Class, COUNT(product_id) AS Count from Product_Data GROUP BY category_class ORDER BY Count DESC").show()

+--------------+-----+
|Category_Class|Count|
+--------------+-----+
|          null|   87|
|   electronics|   57|
|     computers|   23|
|     furniture|   14|
|    appliances|   14|
|  construction|    8|
|          auto|    7|
|       apparel|    6|
|   accessories|    1|
+--------------+-----+

##### Brand

In [40]:
spark.sql("SELECT COUNT(DISTINCT(brand)) AS Count_Unique_Brand from Product_Data").show()

+------------------+
|Count_Unique_Brand|
+------------------+
|                85|
+------------------+

In [63]:
spark.sql("SELECT DISTINCT(brand) AS Brand, COUNT(product_id) AS Count from Product_Data GROUP BY brand ORDER BY Count DESC").show()

+---------+-----+
|    Brand|Count|
+---------+-----+
|     null|   41|
|    apple|   16|
|   xiaomi|   15|
|  samsung|   10|
|       hp|    9|
|   huawei|    6|
|   tissot|    4|
| kirkland|    4|
|      brw|    4|
|      ams|    3|
|   dewalt|    3|
|    bosch|    3|
|trussardi|    3|
|    canon|    3|
|     asus|    3|
| michelin|    3|
|     acer|    3|
|  lucente|    3|
|     acme|    2|
|     peda|    2|
+---------+-----+
only showing top 20 rows

##### Price

In [74]:
spark.sql("SELECT COUNT(DISTINCT(price)) AS Count_Unique_Price, MAX(price) AS MAX, MEAN(price) AS MEAN, MIN(price) AS MIN, AVG(price) from Product_Data").show()

+------------------+-------+-----------------+----+-----------------+
|Count_Unique_Price|    MAX|             MEAN| MIN|       avg(price)|
+------------------+-------+-----------------+----+-----------------+
|               185|2496.59|306.6343778801842|1.09|306.6343778801842|
+------------------+-------+-----------------+----+-----------------+

#### Kombibetrachtung